# NAS網址
NEXT_PUBLIC_NAS_SITE_URL="https://rd_service.msi.com.tw"

# RDRAID5網址
NEXT_PUBLIC_RD_SITE_URL="http://10.16.20.11:8012" #開發測試
# NEXT_PUBLIC_RD_SITE_URL="https://rdraid5_uat.msi.com" #驗證測試
# NEXT_PUBLIC_RD_SITE_URL="https://rdraid5.msi.com.tw/" #正式機

# JWT 金鑰
JWT_SECRET_KEY=""

# 登入服務 API URL
NEXT_PUBLIC_LOGIN_API_URL="https://rdraid5_uat.msi.com:8082" #開發測試
# NEXT_PUBLIC_LOGIN_API_URL="https://rdraid5.msi.com.tw:8082" #正式機

# 網站基礎路徑，請以系統英文簡稱命名
NEXT_PUBLIC_BASE_PATH_URL="/analysis"

# cookie 網域設定
NEXT_PUBLIC_COOKIE_DOMAIN="localhost" #地端
# NEXT_PUBLIC_COOKIE_DOMAIN="10.16.20.11" #開發測試
# NEXT_PUBLIC_COOKIE_DOMAIN=".msi.com" #驗證測試
# NEXT_PUBLIC_COOKIE_DOMAIN=".msi.com.tw" #正式機