@import 'tailwindcss';
@import 'tw-animate-css';
@import '@msi/ui/styles/preset.css';
/* @import '@msi/ui/styles/scrollbar.css'; */

@source "../../../../packages/ui/src/components/**/*.{ts,tsx}";


.product-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

/* 隱藏瀏覽器內建的密碼顯示按鈕 */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
