# 資料庫連線字串 (機密 - Server-Side Only)
DATABASE_URL="sqlserver://10.16.20.15:1433;database=AI;user=pg_user;password=abc;trustServerCertificate=true"

# JWT 金鑰 (機密 - Server-Side Only)
JWT_SECRET_KEY="9Gme9x7SfKmm7GgIzBMMs23A7e8ZIx0lsTqtwyjxLeca"
