# 首頁網址
NEXT_PUBLIC_RD_SITE_URL="http://10.16.20.11:8012" #開發測試
# NEXT_PUBLIC_RD_SITE_URL="https://rdraid5_uat.msi.com" #驗證測試
# NEXT_PUBLIC_RD_SITE_URL="https://rdraid5.msi.com.tw/" #正式機

# 資料庫連線字串
DATABASE_URL="sqlserver://sqlserver;database=sqlserver;user=sqlserver;password=sqlserver;trustServerCertificate=true"

# JWT 金鑰
JWT_SECRET_KEY="9Gme9x7SfKmm7GgIzBMMs23A7e8ZIx0lsTqtwyjxLeca"

# 登入服務 API URL
NEXT_PUBLIC_LOGIN_API_URL="https://rdraid5_uat.msi.com:8082" #開發測試
# NEXT_PUBLIC_LOGIN_API_URL="https://rdraid5.msi.com.tw:8082" #正式機

# 網站基礎路徑
NEXT_PUBLIC_BASE_PATH_URL="/AI_City"

# 登入 cookie 網域設定
NEXT_PUBLIC_COOKIE_DOMAIN="localhost" #地端
# NEXT_PUBLIC_COOKIE_DOMAIN="10.16.20.11" #開發測試
# NEXT_PUBLIC_COOKIE_DOMAIN=".msi.com" #驗證測試
# NEXT_PUBLIC_COOKIE_DOMAIN=".msi.com.tw" #正式機

# NIM 服務 API URL
NEXT_PUBLIC_NIM_SERVICE_API_URL="http://" #開發測試
# NEXT_PUBLIC_NIM_SERVICE_API_URL="https://ai03.msi.com.tw:445" #驗證測試
# NEXT_PUBLIC_NIM_SERVICE_API_URL="https://api.msi.com.tw" #正式機

# 系統API
NEXT_PUBLIC_PATENT_SERVICE_API_URL="http://10.16.20.11:8081" #開發測試
# NEXT_PUBLIC_PATENT_SERVICE_API_URL="https://rdraid5_uat.msi.com:8084" #驗證測試
# NEXT_PUBLIC_PATENT_SERVICE_API_URL="https://rdraid5.msi.com.tw:8084" #正式機

# AI端API
NEXT_PUBLIC_AI_API_URL="http://172.16.111.148:8086" #開發測試機
# NEXT_PUBLIC_AI_API_URL="https://ai03.msi.com.tw:7402" #驗證測試機
# NEXT_PUBLIC_AI_API_URL="https://km.msi.com.tw:7402" #正式機

# AIforce API
NEXT_PUBLIC_AIforce_API_URL="http://10.16.20.11:8085" #開發測試機
# NEXT_PUBLIC_AIforce_API_URL="https://rdraid5_uat.msi.com:8085" #驗證測試機
# NEXT_PUBLIC_AIforce_API_URL="https://rdraid5.msi.com.tw:8085" #正式機